* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
  scroll-behavior: smooth;
  transition: all 0.4s cubic-bezier(0.45, 0, 0.1, 1);
}

.leaflet-control-container .leaflet-routing-container-hide {
  display: none;
}

/*  Anti Aliasing */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Dark Background to make the MUI theme work seemlessly */
  background-color: #121212;
}
